<h2>A&M Employees</h2>
<br />
<h4>Managers</h4>

<table class="striped">
  <tr>
    <th>Name</th>
    <th>SSN</th>
	<th>Date of Birth</th>
	<th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @active_managers.each do |employee| %>
  <tr>
    <td><%= link_to employee.proper_name, employee_path(employee) %></td>
    <td><%= employee.ssn %></td>
    <td><%= employee.date_of_birth %></td>
    <td><%= employee.phone %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee), :class=> "waves-effect waves-light btn #00BCD4" %></td>
  </tr>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_managers, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />
<br />
<h4>Employees</h4>

<table class="striped">
  <tr>
    <th>Name</th>
    <th>SSN</th>
	<th>Date of Birth</th>
	<th>Phone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @active_employees.each do |employee| %>
  <tr>
    <td><%= link_to employee.proper_name, employee_path(employee) %></td>
    <td><%= employee.ssn %></td>
    <td><%= employee.date_of_birth %></td>
    <td><%= employee.phone %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee), :class=> "waves-effect waves-light btn #00BCD4" %></td>
  </tr>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @active_employees, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />


<a class="button"><%= link_to "New Employee", new_employee_path, :class=> "waves-effect waves-light btn dark-grey" %></a>

