<h2>A&M Stores</h2>

<table class="striped">
  <tr>
    <th>Employee</th>
    <th>Store</th>
	<th>Start Date</th>
    <th>End Date</th>
    <th></th>
  </tr>

<% @current_assignments.each do |assignment| %>
  <tr>
    <td><%= link_to assignment.employee.proper_name, employee_path(assignment.employee_id) %></td>
    <td><%= link_to assignment.store.name, store_path(assignment.store_id)  %></td>
    <td><%= assignment.start_date %></td>
    <td><%= assignment.end_date %></td>
    <td><%= link_to 'Terminate', assignment_path(assignment), :class=> "waves-effect waves-light btn blue" %></td>
  </tr>
<% end %>
</table>
<br />
<!-- Add the pagination using will_paginate gem -->
<span class="paginate">
<%= will_paginate @current_assignments, :previous_label => "Previous&nbsp;", :next_label => "&nbsp;Next" %>
</span>

<br />

<a class="button"><%= link_to "New Assignment", new_assignment_path, :class=> "waves-effect waves-light btn dark-grey" %></a>

